@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  background: #3F3F46;
  width: 0.6rem;
  height: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background: #007E68;
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #08C19A;
}
